*.i
*.o
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.nvvp
*.obj
*.info
*VAR
*FUN
*.tsv
*.log
*.class
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake

old_bin/
analysis/solutions_dtlz/
mcea
mcea_cpu
mcea_cpu_dbg
mcea_dbg

test/
build/
doc/gpu/
doc/cpu/
