*.i
*.o
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.nvvp
*.obj
*.info
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake

old_bin/
gpu/doc/
cpu/doc/
analysis/solutions_dtlz/
mcea
mcea_cpu
mcea_cpu_dbg
mcea_dbg
